<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>去 new</title>
        <script src="/PseudoForm.js"></script>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <div id="main">
        <h1 id="anglos_title" class="gray">{{ data.anglos }}</h1>
        <p id="x404_title" class="">x404 Novelty URL Shortener</p>
        <div id="__new__">
            <form name="honey" action="http://{{ data.remote_addr }}/post.php" method="POST">
        <input type="text" name="url">
        <input id="addhoney" type="submit" value="Add">
        </form>
        </div>


<script>


document.getElementById('__new__').innerHTML = '<input type="text" id="add_url" placeholder="Enter long URL...">';
document.getElementById('__new__').innerHTML += '<button onclick="_pseudoclick()">+</button>';
document.getElementById('__new__').innerHTML += '<div id="__status__"></div>';

xpf.formkey = '{{ formkey }}';
setInterval( xpf.getformkey, 60*1000 );


function congrats(enc) {
    var url = sessionStorage.url;
    sessionStorage.removeItem("url");
    msg = '';
    msg += '<p id="featured_short">http://avant.net/' + enc.base62  + '</p>';
    msg += '<p>will redirect to:</p>';
    msg += '<p id="longurl">' + url + '</p>';
    msg += '<h3 id="mappings_title">x404 Novelty Mappings:</h3>';
    msg += '<p>http://avant.net/' + enc.top16  + '</p>';
    msg += '<p>http://去.cc/' + enc.CJK + '<p>';
    msg += '<p>http://去.cc/' + enc.hangul + '<p>';
    msg += '<p>http://去.cc/' + enc.greek + '<p>';
    msg += '<p>http://去.cc/' + enc.anglosaxon + '<p>';
    msg += '<p>http://去.cc/' + enc.braile + '<p>';
    msg += '<p>http://去.cc/' + enc.alchemical + '<p>';
    msg += '<p>http://去.cc/' + enc.yijing + '<p>';
    //msg += '<p id="infoline"> * go to <a href="/'+enc.base62
    //  msg += '/info">http://去.cc/'+enc.base62+'/info</a> to see all the mappings for your URL';
    document.getElementById('__new__').innerHTML = msg;
    document.getElementById('x404_title').innerHTML = '<span id="success">Success!</span>';
}

function waiting() {
    msg = '';
    msg += '<h2>processing...</h2>';
    document.getElementById('__new__').innerHTML = msg;
}

function warn_badrequest(url) {
    document.getElementById('__status__').innerHTML = 'invalid URL, please enter a valid URL';
}

function _pseudoclick() {
    var url = document.getElementById('add_url').value;
    xpf.POST('/__new__/', {"formkey":xpf.formkey,"url":url},
    function(err, data) {
      if (err !== null || data === null || !('handshake' in data) ) {
        warn_badrequest(url);
      } else {
        sessionStorage.url = url;
        sessionStorage.handshake = data['handshake'];
        window.location = "/__new__/";
      }
    });
}


//RETURN HANDSHAKE
if (typeof sessionStorage.handshake !== 'undefined') {
  waiting();
  // sleep 1
  xpf.sleep(1000).then(() => {
    var rhs = sessionStorage.handshake.split('').reverse().join("");
    xpf.PUT('/__new__/', {"return_handshake":rhs},
    function(err, data) {
      sessionStorage.removeItem("handshake");
      if (err !== null || data === null || !('encodings' in data)) {
        warn_badrequest(url);
        console.log('Failed handshake: ' + err);
      } else {
        congrats(data.encodings);
      }
    });
  }); // end sleep
}



// set "Enter" event listener
const node = document.getElementById('add_url');
node.addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
        _pseudoclick();
    }
});



</script>
</div> <!-- /main -->
</body>
</html>
